
/*将每个模型的大小控制为包含内边距与边框宽度*/
* {
    box-sizing: border-box;
}

.box1 {
    width:200px;
    height:100px;
    background: linear-gradient(45deg,blue,red);
    /*设置边距属性*/
    padding: 10px;
    border: 10px solid yellow;
    margin: 30px;
}

.box2 {
    width:200px;
    height:100px;
    background: linear-gradient(45deg,black,white);
    /*设置边距属性*/
    padding: 10px;
    border: 10px solid red;
    margin: 30px;
}

/*边距折叠*/
/*此时.para1和.para2之间的上下间隔为30 而不是 30+10*/
.para1 {
    background-color: lightblue;
    padding: 20px;
    margin-bottom: 30px;
}
.para2 {
    background-color: lightgreen;
    padding: 20px;
    margin-top: 10px;
}

/*边距溢出*/
.parent {
    border:0.5px solid black;
    background: lightblue;
}
.child {
    background: blue;
    margin-top:30px
}
/*解决边距溢出：
1.使用padding替代margin，
2. 父元素 overflow:hidden,
3. 父元素增加border和padding的尺寸*/
