h2 {
    /*字体大小，固定单位*/
    font-size: 25px;
    /*字体粗细，关键字*/
    font-weight:bolder;
    /*字体样式（普通，斜体，倾斜）*/
    font-style:normal;
    /*字体变形，大小写控制*/
    text-transform: uppercase;
}

h3 {
    /*颜色*/
    color:rgba(255, 100, 100, 0.7);
    /*字体名称，样式*/
    font-family: "American Typewriter", monospace;
    /*字体大小 固定单位*/
    font-size:22px;
    /*字体粗细，关键字*/
    font-weight:bold;
    /*字体样式（普通，斜体，倾斜）*/
    font-style:italic;
    /*字体变形，大小写控制*/
    text-transform: capitalize;
    /*文本对齐方式*/
    text-align: center;

    /*字母间距*/
    letter-spacing: 2px;
}
h3:hover {
    /*文字装饰*/
    text-decoration: underline;
}

p {
    /*颜色*/
    color:rgba(100, 100, 100, 0.7);
    /*字体名称，样式*/
    font-family: "Times New Roman", Serif, sans-serif;
    /*字体大小，相对父级元素的单位*/
    font-size:0.8em;
    /*字体粗细，数值*/
    font-weight:500;
    /*字体样式（普通，斜体，倾斜）*/
    font-style: oblique;
    /*字体变形，大小写控制*/
    text-transform: none;
    /*文本对齐方式*/
    text-align:left;
    /*行高*/
    line-height:1.6;

    /*字母间距*/
    letter-spacing: 1.5px;
    /*单词间距*/
    word-spacing: 2px;

    /*换行与缩进*/
    white-space: normal;
    text-indent: 10px;


}

p:hover {
    /*文字装饰*/
    text-decoration: underline;
}
