body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    border: 1px solid lightcoral;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#container div{
    border: 1px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

img{
    width: 100px;
    height: 100px;
}
